.products-section {
  display: flex;
  align-items: flex-start;
}

.left-panel {
  flex: 0 0 25%; /* El ancho del panel de filtros */
  padding: 20px;
}

.center-panel {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.product-card {
  width: 250px; /* Ancho de cada tarjeta de producto */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.product-card img {
    width: 100%;
    height: 200px; /* Altura de la imagen del producto */
    object-fit: cover;
    border-radius: 8px;
  }