@import url('https://fonts.cdnfonts.com/css/edensor');

body{
  background-color: #e8e8e8;
}

.products-section {
  display: flex;
  align-items: flex-start;
}
/*-------------CARTAS-------------*/
.center-panel {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
  gap: 40px;
  padding: 1rem;
}

.product-card {
  width: 350px; /* Ancho de cada tarjeta de producto */
  border: 2px solid #c3c6ce;
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 20%);
  border-radius: 8px;
  padding: 10px;
  background: #ffffff;
  transition: 0.5s ease-out;
  overflow: visible;
}
.product-card:hover{
  border-color: #AD59F7;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.product__img img{
  width: 100%;
  height: 50%;
}

.product__info h1 {
  font-size: 2.5rem;
  font-family: "lato";
  padding-top: 10px;
  color: #181818;
  text-align: center;
}

.price{
  display: flex;
  align-items: center;
}
.price p {
  font-size: 1.5rem;
  margin: 0px 1rem;
  font-family: "lato";
}
.price a{
  margin-left: 35%;
  font-size: 1.5rem;
  text-decoration: none;
  color: #f2f2f2;
}
.price i{
  background-color: #1c1c1c;
  padding: 5px;
  border-radius: 100%;
  transition: all ease-in-out 300ms;
}
.price i:hover{
  background-color: #AD59F7;
  color: #000000;
}






/*-------------Filtro-------------*/
.left-panel {
  flex: 0 0 25%; /* El ancho del panel de filtros */
  padding: 1rem 0rem;
}

.product-filter {
  left: 0;
  padding: 2rem 4rem;
  background: #1c1c1c;
  border: 1px solid #000;
  display: grid;
  grid-template-rows: 1rem 1fr;
  row-gap: 3rem;
}

.product-title {
  text-align: center;
  font-size: 2.1rem;
  font-family: 'Edensor';
  color: #fff;
}

.custom-select {
  padding: .9rem 1.5rem;
  border: .2rem solid rgb(255, 255, 255);
  border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
  color: #f2f2f2;
  background: none;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-family: "lato";
  transition: all .2s linear;
}
.custom-select:hover{
  border-radius: 4% 95% 6% 95% / 95% 4% 92% 5%;
  border: .2rem solid #AD59F7;
}

.custom-select:focus {
  border-color: #ffffff;
  outline: none;
}

.custom-select option {
  background-color: #f0f0f0;
  color: #181818;
}

/* Opcional: Cambiar el estilo de las opciones seleccionadas */
.custom-select option:checked {
  background-color: #6C63F5;
  color: #fff;
}
/*-------------------------------------------*/
@media screen and (max-width: 867px) {
  .products-section {
    display: grid;
  }
  .center-panel {
    margin: 0px 10px;
  }
  .product-filter {
    display: flex;
    align-items: center;
  }
  .product-title{
    margin-top: 20px;
    font-size: 1.9rem;
    margin-right: 2.1rem;
  }

  .custom-select {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    padding: .5rem 1rem;
  }
  .custom-select:hover{
    border: 2px solid #6C63F5;
    border-radius: 10px;
  }
}
@media screen and (max-width: 640px) {
  .product-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 2rem;
  }
}